
body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
} 
.wrapper{
    border: 3px solid black;
    color: rgb(0, 0, 0);
    padding: 4rem;
    border: 3px solid black;
    box-shadow: 8px 8px black;
    text-align: center;
    
}
h2{
    font-size: 4rem;
    font-family: monospace;
}
h3,p{
    font-size: 4rem;
    font-weight: bold;
    font-family: sans-serif;
    text-align: center;
    text-decoration: underline;
}

p{
    font-size: 2rem;
}

button{
    padding: 1rem 2rem;
    width: auto;
    background-color: rgb(255, 255, 142);
    border: 3px solid black;
    box-shadow: 0 5px black;
    text-transform: uppercase;
    font-weight: bold ;
}

button:active{
    box-shadow: none;
}
button:hover{
    
    background-color: rgb(239, 239, 80);
}